@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
}

img {
    max-width: 100%;
}

/* Colors  */

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --blue: hsl(228, 45%, 44%);
}


/* Typography */

h2 {
    font-size: .875rem;
    font-weight: 500;
    opacity: .7;
}

h3 {
    font-size: .7rem;
    opacity: .3;
}

.card quote,
.card p {
    opacity: .7;
}

.card quote {
    font-size: 1.0625rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1.375rem;
}

.card p {
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1875rem;
    max-width: 40ch;
}

.card-violet p, 
.card-darkgray p {
    letter-spacing: .3px;
}

.card-darkgray p {
    letter-spacing: .1px;
} 

.card-violet h2,
.card-violet h3,
.card-violet quote,
.card-violet p,
.card-gray h2,
.card-gray h3,
.card-gray quote,
.card-gray p,
.card-darkgray h2,
.card-darkgray h3,
.card-darkgray quote,
.card-darkgray p {
    color: var(--white);
}


/* Layout  */

.grid-container {
    display: grid;
    width: 87%;
    max-width: 85.77em;
    margin: 4.375em auto;
    gap: 1.5625em;
}

.card {
    padding: 1.5625em 2.0625em 1.5625em 1.875em;
    border-radius: 8px;
    position: relative;
}

.card header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
}

.card-img {
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    border: 1px solid var(--light-gray);
}

.card h2, 
.card h3 {
    margin-left: .625em;
}

.card-img-quote {
    position: absolute;
    top: 0;
    right: 7%;
}

.card quote {
    position: relative;
    z-index: 1;
}

.card p { 
    margin-top: 1.25em;
    opacity: .5;
} 


/* Individual Cards Styling */

.card-violet {
    background-color: var(--moderate-violet);
}

.card-white-small,
.card-white-big {
    background-color: var(--white);
}

.card-gray {
    background-color: var(--very-dark-grayish-blue);
}

.card-darkgray {
    background-color: var(--very-dark-blackish-blue);
}


/* Media Queries  */


@media (min-width: 411px) {
    .card {
        padding-left: 2.1875em;
        padding-right: 2.5em;
    }
    .card p {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .card {
        max-width: 100%;
        max-height: 100%;
    }
    .card-violet {
        grid-column: 1 / span 2;
    }
    .card-gray {
        grid-column: 3 / 4;
    }
    .card-white-small {
        grid-column: 1 / 2;
    }
    .card-darkgray {
        grid-column: 2 / span 2;
    }
    .card-white-big {
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.875em; 
        row-gap: 1.5625em;
        margin: 10.3125em auto;
    }
    /* .card {
        max-width: 100%;
        max-height: 100%;
    } */
    .card-violet {
        grid-column: 1 / span 2;
    }
    .card-gray {
        grid-column: 3 / 4;
    }
    .card-white-big {
        grid-column: 4 / 5;
        grid-row: 1 / -1;
    }
    .card-white-small {
        grid-column: 1 / 2;
    }
    .card-darkgray {
        grid-column: 2 / span 2;
    }
    .card-white-small,
    .card-white-big {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }    
    .card quote {
        font-size: 1.1875rem;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 1.6rem;
        margin-bottom: 2em;
    }
    .card-darkgray quote {
        margin-bottom: 7em; 
        line-height: 1.85rem;
    }
    .card-white-small quote {
        line-height: 1.9rem;
    }
    .card-white-big quote {
        line-height: 1.5rem;
    }
    .card p {
        letter-spacing: .7px;
    }
    @media (min-width: 1440px) {
        .card-img-quote {
            right: 17%;
        }
    }
}


/* Footer */

.attribution {
    font-size: .6875em; 
    text-align: center; 
}

.attribution a {
    color: --var(bluehsl(228, 45%, 44%)); 
}
